@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Meeting Scheduler</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div>
		<div>
			<h1 class="espace-apres">Nous allons organiser une séance intéressante</h1>
			<h2 class="espace-avant">et vous êtes invité</h2>
		</div>
		<br />
		<div align="center">
			<a class="lien" asp-action="RsvpForm">RSVP Now</a>
		</div>
		
	</div>
</body>
</html>
